<html>

  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      
      <h3>Name: Changhyo Shon (Chad)</h3>
      <h3>Nationality: Korean</h3>
      <h3>School: University of Massachusetts - Amherst</h3>
      <h3>Major: Computer Science</h3>
      <h3>Job: Web developer</h3>
      <h3>Contact: ckdgy123@gmail.com</h3>

      

    </div>
    {{>footer}}
  </body>

</html>
C:\Users\ckdgy\Downloads\UdemyNodejs2\web-server\templates\views\about.hbs
